.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #1e1e1e;
}

.login-form {
  background-color: #272727;
  padding: 30px 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.logo {
  height: 100px;
  min-width: 90%;
  display: block;
  margin: 0 auto 20px;
  object-fit: contain;
}

label {
  font-size: 12px;
  margin-bottom: 2px;
}

.input {
  padding: 15px;
  font-size: 15px;
  border: 1px solid #7e858e;
  border-radius: 6px;
  background-color: #1e1e1e;
  color: white;
  outline: none;
  width: 100%;
}

.input:focus {
  border-color: #1f6ed6;
  background-color: transparent;
}

.login-btn {
  background-color: #1549f2;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #123fd3;
}

.err-msg {
  color: #ff0b37;
  font-size: 14px;
  margin-top: 8px;
}

@media screen and (max-width: 480px) {
  .login-form {
    padding: 20px 15px;
    border-radius: 10px;
  }

  .logo {
    height: 50px;
  }

  .input,
  .login-btn {
    font-size: 15px;
    padding: 10px;
  }

  label {
    font-size: 13px;
  }

  .err-msg {
    font-size: 13px;
  }
}
